*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: #777474 1px solid ;
}
.logo{
    background-color: seagreen;
  width: 14%;
  height: 3.5rem;
  text-align: center;
}
.logo h1{
    color: white;
    margin-top: 10px;
}
.navtext{
    width: 30%;
}
.navtext a{
margin-left: 1.5rem;
color: #666;
}
.backcolor{
 background-color: rgb(230, 224, 230);
 height: 40rem;
}
.about{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
}
.about h2{
    color: aquamarine;
   
}
.text{
    padding: 1rem;
    width: 50%;
    background-color: white;
}
.text hr{
    margin: 0.5rem 0;
}
.text p{
    margin-top: 1rem;
}
.imagetext{
    display: flex;
    justify-content: space-between;
}
.about .image{
    width: 55%;
    height: 6rem;
    display: inline-block;
}
.connect{
    width: 20%;
    height: 8rem;
    background-color: white;
    padding: 1rem;
    text-align: center;
}
.connect hr{
    margin: 5px;
}
.connectimg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.connectimg img{
    width: 25%;
}
.about .image img{
    width: 100%;
}